<div class="client-container">
  <div class="location-search-container">
    <app-location-search (locationSelected)="onLocationSelected($event)"></app-location-search>
  </div>

  <div class="weather-widget-container" *ngIf="weatherData$ | async as weatherData">
    <app-weather-widget [weatherData]="weatherData"></app-weather-widget>
  </div>

  <div class="separator"></div>
  <mat-spinner *ngIf="loading$ | async" class="spinner"></mat-spinner>
  <div *ngIf="error$ | async" class="spinner">An error occurred. Please try again later</div>
  <div class="separator"></div>

  <div class="footer">
    <mat-form-field appearance="fill">
      <mat-label>Weather provider</mat-label>
      <mat-select [(value)]="currentWeatherProvider" (selectionChange)="onWeatherProviderSelectionChange($event.value)">
        <mat-option *ngFor="let weatherProvider of weatherProviders" [value]="weatherProvider">
          {{ weatherProvider }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button
      mat-fab
      matTooltip="Search by browser location"
      color="primary"
      aria-label="Search by browser location"
      class="geolocation-button"
      (click)="onGeolocationButtonClick()"
    >
      <mat-icon>my_location</mat-icon>
    </button>
  </div>
</div>
