.daily {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5em;
  &:first-child {
    margin-top: 0;
  }
}

.daily-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  & img {
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
  }
  & :last-child {
    flex-grow: 1;
    text-align: right;
    min-width: 5.5em;
  }
}

.daily-weather {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card {
  max-width: 400px;
  margin: 2em auto 0;
  &:first-child {
    margin-top: 0;
  }
}

.weather-header-image {
  background-size: cover;
}

.hourly-slider {
  overflow: auto;
  display: flex;
  & > div:not(:first-child) {
    margin-left: 2em;
  }
}

.hourly {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.details-container {
  margin-top: 1em;
}

.detail-container {
  display: inline-block;
  width: 50%;
  margin-top: 0.5em;
  &:first-child {
    margin-top: 0;
  }
}
