<ng-container *ngIf="weatherData">
  <mat-card class="card">
    <mat-card-header>
      <div [style.background-image]="'url(' + weatherData.current.weatherImageUrl + ')'" mat-card-avatar class="weather-header-image"></div>
      <mat-card-title>{{ weatherData.current.temperature }}</mat-card-title>
      <mat-card-subtitle>{{ weatherData.current.weather }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="daily" *ngFor="let day of weatherData.daily">
        <div class="daily-row">
          <div>
            <img [src]="day.weatherImageUrl" />
          </div>
          <div>{{ day.weekDay }}・{{ day.weather }}・</div>
          <div>{{ day.min }} / {{ day.max }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-content>
      <div class="hourly-slider">
        <div class="hourly" *ngFor="let hour of weatherData.hourly">
          <div>{{ hour.time }}</div>
          <div>
            <img [src]="hour.weatherImageUrl" />
          </div>
          <div>{{ hour.temperature }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>{{ weatherData.latitude }}, {{ weatherData.longitude }}</mat-card-title>
      <mat-card-subtitle>{{ weatherData.elevation }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="details-container">
        <div>Sunrise {{ weatherData.current.sunrise }}</div>
        <div>Sunset {{ weatherData.current.sunset }}</div>
        <div>
          <div class="detail-container">
            <div>Feels like</div>
            <div>{{ weatherData.current.feelsLike }}</div>
          </div>
          <div class="detail-container">
            <div>Chance of rain</div>
            <div>{{ weatherData.current.chanceOfRain }}</div>
          </div>
        </div>
        <div>
          <div class="detail-container">
            <div>Humidity</div>
            <div>{{ weatherData.current.humidity }}</div>
          </div>
          <div class="detail-container">
            <div>Pressure</div>
            <div>{{ weatherData.current.pressure }}</div>
          </div>
        </div>
        <div>
          <div class="detail-container">
            <div>Wind speed</div>
            <div>{{ weatherData.current.windSpeed }}</div>
          </div>
          <div class="detail-container">
            <div>Wind direction</div>
            <div>{{ weatherData.current.windDirection }}</div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</ng-container>
